@media screen and (min-width:800px) and (max-width:3440px){
	.hbox aside{
		height: 100%; 
	}
	body{
        /* font-family: "Helvetica Neue", Helvetica,sans-serif,'Open Sans','Microsoft Yahei','黑体',Arial !important; */
        font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		min-width: 980px;
		overflow-x: scroll;
		background-color: #fff;
	}
	/* .vbox > header ~ section {
		top: 0;
	} */
}

.indicators{
    position: absolute;
    bottom:80px !important;
  }

.slider-indicator-icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 .5rem !important;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2)
}

.slider-indicator-active {
    background-color: rgba(255, 255, 255, 1) !important;
}
.panel-default {
    background-color: #fff;
}

.panel{
    border:1px solid #fff !important;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff !important;
    border-color: #fff;
}
.panel-body {
    padding: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.ql-container.ql-snow {
    border: 0 !important;
}
.ql-toolbar.ql-snow{
	border:0 !important;
	border-top: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
}

.ql-container{
    height: 350px;
}
.active-description .ql-container{
	height:150px !important;
}


.btn-left {
    left: 0;
    background: linear-gradient(90deg,rgba(0,0,0,0),transparent) !important;
}
.slider:hover .btn-left{
    background: linear-gradient(90deg,rgba(0,0,0,0),transparent) !important;    
}
.btn-right {
    right: 0;
    background: linear-gradient(90deg,rgba(0,0,0,0),transparent) !important;
}
.slider:hover .btn-right{
    background: linear-gradient(90deg,rgba(0,0,0,0),transparent) !important;    
}
.animated {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes rollIn {
	0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(120deg); }
    100% { opacity: 1; -webkit-transform: translateX(-50%) rotate(0deg); }
    
}
 
@-moz-keyframes rollIn {
	0% { opacity: 0; -moz-transform: translateX(-100%) rotate(120deg); }
	100% { opacity: 1; -moz-transform: translateX(-50%) rotate(0deg); }
}

@-o-keyframes rollIn {
	0% { opacity: 0; -o-transform: translateX(-100%) rotate(120deg); }
	100% { opacity: 1; -o-transform: translateX(-50%) rotate(0deg); }
}

@keyframes rollIn {
	0% { opacity: 0; transform: translateX(-100%) rotate(120deg); }
	100% { opacity: 1; transform: translateX(-50%) rotate(0deg); }
}



@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: translateX(-100%) rotate(-200deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: translateX(-50%) rotate(0);
		opacity: 1;
	}
}
@-moz-keyframes rotateIn {
	0% {
		-moz-transform-origin: center center;
		-moz-transform: translateX(-100%) rotate(-200deg);
		opacity: 0;
	}

	100% {
		-moz-transform-origin: center center;
		-moz-transform: translateX(-50%) rotate(0);
		opacity: 1;
	}
}
@-o-keyframes rotateIn {
	0% {
		-o-transform-origin: center center;
		-o-transform: translateX(-100%) rotate(-200deg);
		opacity: 0;
	}

	100% {
		-o-transform-origin: center center;
		-o-transform: translateX(-50%) rotate(0);
		opacity: 1;
	}
}
@keyframes rotateIn {
	0% {
		transform-origin: center center;
		transform:translateX(-100%) rotate(-200deg);
		opacity: 0;
	}

	100% {
		transform-origin: center center;
		transform: translateX(-50%) rotate(0);
		opacity: 1;
	}
}
.noticeContent p img{
    width: 100%;
}

body,html{
	height:100%;
	overflow:hidden;
}

.options-area{
	margin-bottom:14px;
}